@charset "UTF-8";

/* common */
body {
    font-family: 'proxima-nova', 'NotoSansKR', sans-serif;
    color: #000;
    letter-spacing: 0.35px;
    font-weight: 400;
    line-height: 1;

    background-color: transparent;
    margin: 0;
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    height: 100%;

    word-break: keep-all;
    min-width: 768px;
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
}

/* common 
body {
    font-family: 'proxima-nova', 'NotoSansKR', sans-serif;
    color: #000;
    letter-spacing: 0.35px;
    font-weight: 400;
    line-height: 1;

    background-color: transparent;
    margin: 0;
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    height: 100%;

    word-break: keep-all;
    min-width: 768px;
}
.inner {
    position: relative;
    width: 100%;
    height: 100%;
}
.ui-datepicker select {
    background: none;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}
.wrap {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
} 
.content {
    min-height: calc(100vh - 446px);
    padding-bottom: 100px;
}
.visible_hidden {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}*/
/* 일부 해상도 라인 보이는 문제 */
/* .swiper-slide {
    padding: 0 1px;
}
.required_indi {
    color: #ff0000;
}
.error_msg {
    font-size: 12px;
    line-height: 20px;
    color: #EB3D4F;
}
.invaild_border {
    border-color: #EB3D4F !important;
}
.wsnr {
    white-space: nowrap;
} */

/* 레이아웃 공통 */
/* .sec {
    position: relative;
}
.sec .sec_cont {
    margin-top: 40px;
}
.sec > .inner {
    max-width: 1784px;
    padding: 0 92px;
    margin: 0 auto;
}
.sub_title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    margin-top: 40px;
    text-transform: uppercase;
} */
